{% extends 'base.html' %}
{% block extra_title %}post{% endblock %}

{% block content %}
<div class="login border-2 border-t-0 shadow-lg">
    <h2 class="text-2xl text-red-800 my-5 h-15">Log In</h2>
<form class="login-form" method="POST" action=".">{% csrf_token %}
    {{form.as_p}}
    <p class="mt-3">If you have not created an account yet, then please <a class="text-cyan-800" href="{% url 'register' %}">register</a> first.</p>
    <p><a class="text-cyan-800" href="{% url 'password_reset' %}">Forgot Password?</a></p>
    <button class="text-2xl text-cyan-800 border-2 px-5 py-1 hover:text-red-800 shadow-lg login-button" type="submit">Log In</button>
</form>
</div>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script>
$('#id_username').attr('placeholder', 'Username');
$('#id_password').attr('placeholder', 'Password');
</script>
{% endblock %}