{% extends 'base.html' %}
{% block extra_title %}Enter new password{% endblock %}

{% block content %}
<div class="login border-2 shadow-lg">
    <h1  class="text-2xl text-red-800 my-5 h-15">Set a new password!</h1> 
    <form class="login-form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="text-l text-cyan-800 border-2 px-5 py-1 hover:text-red-800 shadow-lg login-button" type="submit">Submit</button>
        <button class="text-l text-cyan-800 border-2 px-5 py-1 hover:text-red-800 shadow-lg login-button"><a href="{% url 'home' %}">Back</a></button>
    </form>
</div>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script>
$('#id_new_password1').attr('placeholder', 'New password');
$('#id_new_password2').attr('placeholder', 'Confirm password');
</script>
{% endblock content %}
