{% extends 'base.html' %}
{% block extra_title %}Password Change{% endblock %}

{% block content %}
<div class="login border-2 shadow-lg">
<h1 class="text-2xl text-red-800 my-5 h-15">Password Change</h1>
<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
<form class="login-form" method="POST">{% csrf_token %}
    {{form.as_p}}
    <button class="text-l text-cyan-800 border-2 px-5 py-1 hover:text-red-800 shadow-lg login-button" type="submit">Change Password</button>
    <button class="text-l text-cyan-800 border-2 px-5 py-1 hover:text-red-800 shadow-lg login-button"><a href="{% url 'home' %}">Back</a></button>
</form>
</div>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script>
$('#id_old_password').attr('placeholder', 'Old password');
$('#id_new_password1').attr('placeholder', 'New password');
$('#id_new_password2').attr('placeholder', 'Confirm Password');
</script>
{% endblock content %}