{% load static tailwind_tags %}
{% load heroicons %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog {% block extra_title %}{% endblock %}</title>
    {% tailwind_css %}
	<!--Link to base.css file-->
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
<script src="https://cdn.tailwindcss.com"></script>
<script>
  tailwind.config = {
    theme: {
      extend: {
        fontFamily: {
          sans: ['Inter', 'sans-serif'],
        },
      }
    }
  }
</script>
</head>
<body class="flex justify-between flex-col min-h-screen"> 
	<div>
		<header class="sticky top-0 nav">
			<nav class="border-2 p-3 mb-5 shadow-lg bg-black">
				<div class="flex justify-between mt-3">
					<a class="text-white text-2xl" href="{% url 'home' %}">Home</a>
					{% if not user.is_authenticated %}
						<a class="text-white text-2xl" href="{% url 'login' %}">{% heroicon_outline "login" %}<span class="text-sm">Log In</span></a> 
					{% else %}
						<a class="text-white text-2xl" href="{% url 'logout' %}">{% heroicon_outline "logout" %}<span class="text-sm">Logout</span></a>
					{% endif %}
				</div>
			</nav>
		</header>
	
		<!--If statement to render messages-->
		<div class="my-0 mx-auto w-96 px-3">
			{% if messages %}
				{% for message in messages %}
					<div class="text-orange-500"> {{ message }}</div>
				{% endfor %}
			{% endif %}
		</div>
		{% block content %}
		{% endblock %}
</div>
	<footer class="shadow-lg border-2 bg-black w-full mt-8">
		<div class="grid grid-cols-3 text-center h-20 items-center">
			<a
			  class="font-bold text-white"
			  target="_blank"
			  href="https://www.facebook.com/sohail.252/"
			>
			  Facebook
			</a>
			<a
			  class="font-bold text-white"
			  target="_blank"
			  href="https://www.linkedin.com/in/muhammad-sohail-shams-56995126/"
			>
			  Linkedin
			</a>
			<a
			  class="font-bold text-white"
			  target="_blank"
			  href="https://github.com/sohailshams"
			>
			  Github
			</a>
		  </div>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
</body>
</html>
<!-- {% load static tailwind_tags %} -->
<!-- {% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">
		<div class="">
			<section class="flex items-center justify-center h-screen">
				<h1 class="text-5xl text-white bg-black">Django + Tailwind = ❤️</h1>
			</section>
		</div>
	</body>
</html> -->
