{% load static tailwind_tags %} {% load heroicons %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog {% block extra_title %}{% endblock %}</title>
    {% tailwind_css %}
    <!--Link to base.css file-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: ["Inter", "sans-serif"],
            },
          },
        },
      };
    </script>
  </head>
  <body class="flex justify-between flex-col min-h-screen">
    <div>
      <header class="sticky top-0 nav">
        <nav class="border-2 p-3 mb-5 shadow-lg bg-black">
          <div class="flex justify-between mt-3">
            <a class="text-white text-2xl" href="{% url 'home' %}">Home</a>
            <button
              id="dropdownDefault"
              data-dropdown-toggle="dropdown"
              class="text-white bg-black hover:bg-black focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-black dark:hover:bg-black dark:focus:ring-white"
              type="button"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5"
                />
              </svg>
              <svg
                class="ml-2 w-4 h-4"
                aria-hidden="true"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"
                ></path>
              </svg>
            </button>
            <!-- Dropdown menu -->
            <div
              id="dropdown"
              class="hidden z-10 w-28 bg-white rounded divide-y divide-gray-100 shadow dark:bg-black"
              data-popper-reference-hidden=""
              data-popper-escaped=""
              data-popper-placement="bottom"
              style="
                position: absolute;
                inset: 0px auto auto 0px;
                margin: 0px;
                transform: translate3d(0px, 380px, 0px);
              "
            >
              <ul
                class="py-1 text-sm text-gray-700 dark:text-gray-200"
                aria-labelledby="dropdownDefault"
              >
                {% if not user.is_authenticated %}
                <li>
                  <a
                    href="{% url 'login' %}"
                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white flex space-x-1"
                  >
                    {% heroicon_outline "login" %}
                    <span class="text-sm">Log In</span>
                  </a>
                </li>
                {% else %}
                <li>
                  <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button
                      type="submit"
                      class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white flex space-x-1"
                    >
                      {% heroicon_outline "logout" %}
                      <span class="text-sm">Logout</span>
                    </button>
                  </form>
                </li>
                <li>
                  <a
                    href="{% url 'profile' request.user %}"
                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white flex space-x-1"
                  >
                    {% heroicon_outline "user-circle" %}
                    <span>Profile</span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <!--If statement to render messages-->
      <div class="my-0 mx-auto w-96 px-3">
        {% if messages %} {% for message in messages %}
        <div class="text-orange-500">{{ message }}</div>
        {% endfor %} {% endif %}
      </div>
      {% block content %} {% endblock %}
    </div>
    <footer class="shadow-lg border-2 bg-black w-full mt-8">
      <div class="grid grid-cols-3 text-center h-20 items-center">
        <a
          class="font-bold text-white"
          target="_blank"
          href="https://www.facebook.com/sohail.252/"
        >
          Facebook
        </a>
        <a
          class="font-bold text-white"
          target="_blank"
          href="https://www.linkedin.com/in/muhammad-sohail-shams-56995126/"
        >
          Linkedin
        </a>
        <a
          class="font-bold text-white"
          target="_blank"
          href="https://github.com/sohailshams"
        >
          Github
        </a>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
  </body>
</html>
<!-- {% load static tailwind_tags %} -->
<!-- {% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">
		<div class="">
			<section class="flex items-center justify-center h-screen">
				<h1 class="text-5xl text-white bg-black">Django + Tailwind = ❤️</h1>
			</section>
		</div>
	</body>
</html> -->
