{% extends 'base.html' %}
{% block extra_title %}Home{% endblock %}
{% block content %}
<div class="my-5 p-5">
    <a class="text-cyan-800 text-xl" href="{% url 'blog_add' %}">+ New Blog Post</a>
</div>
    <div class="flex justify-center space-x-5">
    {% for post in post_list %}
   <div class="border-2 border-t-0 p-3 w-96 shadow-lg">
    <div class="flex justify-between">
    <h2 class="text-2xl text-red-800 hover:text-sky-700"><a href="{% url 'blog_detail' post.id %}">{{post.title}}</a></h2>
    <p class="mt-2">{{post.updated | date}}</p>
    </div>
    <p>{{post.description}}</p>
</div>
{% endfor %}
</div>
{% endblock %}