{% extends 'base.html' %}
{% load heroicons %}
{% block extra_title %}post{% endblock %}
{% block content %}

<div class="h-20 my-5"></div>
<div class="flex justify-center">
    {% if request.user.is_authenticated %}
   <div class="border-2 border-t-0 w-10/12 shadow-lg mt-5 relative">
        <!--<<img class="h-80 w-full" src="{ static '/images/bg-image.jpg'}" alt="Profile Background Image">-->
        <div class="h-80 w-full bg-image"></div>
        <div class="absolute top-48 left-2">
            <img class="rounded-full h-40" src="{{user_profile.profile_img.url}}" alt="Profile Image">   
        </div>
 
        {% if request.user == user_profile.user %}
            <a class="ml-24 mt-4 absolute" href="{% url 'profile-image' user_profile.user user_profile.profile_uuid %}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                </svg>      
            </a>
     
        <a class="absolute top-28 left-8 border-1 py-2 px-3 bg-black text-white hover:text-black hover:bg-white" href="{% url 'profile-update' user_profile.user user_profile.profile_uuid %}">Edit Profile</a>
        {% else %}
            <form action="{% url 'follow_unfollow' user_profile.user %}" method="POST">{% csrf_token %}
                <input type="hidden" value="{{user_profile.user}}" name="user">
                <button class="absolute top-28 left-10 border-1 py-2 px-4 bg-black text-white hover:text-black hover:bg-white" type="submit">{{button_text}}</button>
            </form>
        {% endif %}
        <div class="flex place-content-between flex-col sm:flex-row">
            <div class="mt-16 mb-3 pl-10">
                <h2 class="text-2xl text-red-800 capitalize font-semibold">{{user_profile.user}}</h2>
                <p class="py-1">{{user_profile.user_role}}</p>
                <p>{{user_profile.location}}</p>
            </div>
            <div class="mt-4 sm:mt-10 flex place-content-center flex-col ml-10 sm:ml-2">
                <p class="font-semibold">{% if posts > 0 %}{{posts}}{% endif %} Post{% if posts > 1 %}s{% endif %}</p>
                <p class="font-semibold">{% if followers_list > 0 %}{{followers_list}}{% endif %} Follower{% if followers_list > 1 %}s{% endif %}</p>
                <p class="font-semibold">{% if following_list > 0 %}{{following_list}}{% endif %} Following</p>
            </div>
            <div class="my-6 sm:mt-4 sm:mt-16 ">
                {% if request.user != user_profile.user %}
                <a class="ml-10 sm:ml-2 border-1 py-2 px-4 bg-black text-white hover:text-black hover:bg-white" href="{% url 'message_add' user_profile.user %}">Message</a>
                {% endif %}
            </div>
            <div class="mt-2 mb-3 pl-10 sm:pr-10 sm:mt-16">
                <p class="text-red-800  font-semibold">Contact Info</p>
                <p>{{user_profile.user.email}}</p>
            </div>
        </div>
    </div>
        {% endif %}
    </div>
</div>

{% endblock %}
