{% extends 'base.html' %}
{% block extra_title %}post{% endblock %}
{% block content %}
<div class="h-20 my-5"></div>
<div class="flex justify-center">
   <div class="border-2 border-t-0 p-3 w-10/12 shadow-lg mt-5">
    <div class="flex justify-between">
        <h2 class="text-2xl text-red-800 my-5  h-15">Update Profile</h2>
        <a class="text-cyan-800 text-xl" href="{% url 'password_change' %}">Change Password</a>
    </div>
        <div>
            <form class="profile-update" method="POST" action="{% url 'profile-update' user_profile.user user_profile.profile_uuid %}" enctype="multipart/form-data">{% csrf_token %}
            {{form.as_p}}
            <button class="text-l text-cyan-800 border-2 px-5 hover:text-red-800 shadow-lg mt-3" type="submit">Update</button>
            </form>
        </div>
    </div>  
</div>

{% endblock %}
