{% extends 'base.html' %}
{% block extra_title %}post{% endblock %}

{% block content %}

<div class="border-2 shadow-lg w-4/6 grid place-items-center my-0 mx-auto">
    <h2 class="text-2xl text-red-800 my-5 h-15">Register</h2>
    <form class="login-form px-5" method="POST" action=".">{% csrf_token %}
        {{form.as_p}}
        <button class="text-2xl text-cyan-800 border-2 px-5 py-1 hover:text-red-800 shadow-lg login-button" type="submit">Register</button>
    </form>
    <p class="my-3 px-5">Please <a class="text-cyan-800" href="{% url 'login' %}">login</a> instead if you already have an account!</p>
</div>

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script>
$('#id_username').attr('placeholder', 'Username');
$('#id_email').attr('placeholder', 'Email');
$('#id_password1').attr('placeholder', 'Password');
$('#id_password2').attr('placeholder', 'Conform Password');
</script>
{% endblock %}